<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Maratona Full Cycle 3.0</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600" rel="preload" as="style" onload="this.rel='stylesheet'" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    <main class="page">
        <div class="container-page">
            <div class="menu">
                <a href="http://maratona.fullcycle.com.br/" title="Home" class="item-menu-logo">
                    <img src="/images/logo-top.png" alt="logo" class="logo" />
                </a>

                <div class="list-items">
                    <a href="http://maratona.fullcycle.com.br/" title="Home" class="item-menu ">
                        <span class="icon-m-home"></span>
                        <p>Home</p>
                    </a>
                    <a href="http://maratona.fullcycle.com.br/aulas/" title="Aulas" class="item-menu ">
                        <span class="icon-m-curso"></span>
                        <p>Aulas</p>
                    </a>
                    <a href="http://maratona.fullcycle.com.br/lives/" title="Lives" class="item-menu active">
                        <span class="icon-m-relogio1"></span>
                        <p>Lives</p>
                    </a>
                    <a href="http://maratona.fullcycle.com.br/desafios/" title="Desafios" class="item-menu ">
                        <span class="icon-m-desafios"></span>
                        <p>Desafios</p>
                    </a>

                    <a href="https://discord.gg/RQu3MQ2" target="_blank" title="Comunidade" class="item-menu">
                        <span class="icon-m-comunidade"></span>
                        <p>Comunidade</p>
                    </a>

                    <a href="http://maratona.fullcycle.com.br/depoimentos/" title="Depoimentos" class="item-menu ">
                        <span class="icon-m-depoimentos"></span>
                        <p>Depoimentos</p>
                    </a>

                    <a href="http://maratona.fullcycle.com.br/curso-full-cycle/" title="Curso Full Cycle" class="item-menu ">
                        <span class="icon-m-fullcycle"></span>
                        <p>Curso Full Cycle</p>
                    </a>
                </div>
            </div>
            <div class="content">
                <nav class="navbar-main">
                    <div class="container container-nav">
                        <a href="http://maratona.fullcycle.com.br/" title="">
                            <img src="/images/logo-fullcycle.png" alt="logo" class="logo img-fluid" />
                        </a>

                        <div class="items-nav">
                            <a
                                href="https://github.com/raphox/fullcycle3"
                                target="_blank"
                                title="Repositórios da Maratona Full Cycle 3.0"
                                class="item"
                            >
                                <span class="icon-m-git1"></span>
                            </a>

                            <a
                                href="https://t.me/devfullcycle"
                                target="_blank"
                                title="Participe de nosso Canal no Telegram"
                                class="item"
                            >
                                <span class="icon-m-telegram"></span>
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="info-top">
                    <div class="container">
                        <a href="https://github.com/raphox/fullcycle3/tree/master/desafio-05" title="Desenvolvido por @raphox" class="link-info">
                            <span class="icon-m-certificado1"></span>
                            <p>Desenvolvido por <b>@raphox</b></p>
                        </a>
                    </div>
                </div>

                <div class="page-lives-index">
                    {{{body}}}
                </div>
            </div>
        </div>
    </main>

    <footer id="footer" class="footer-default">
        <div class="copy">
            <div class="container">
                <div class="info">
                    <p>
                        &copy; CODE.education 2014 - 2020 - Todos os direitos reservados
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>